In [2]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.22.0-py2.py3-none-any.whl (1.4 MB)
     ---------------------------------------- 1.4/1.4 MB 651.2 kB/s eta 0:00:00
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (3.7.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: scipy>=1.2.1 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.10.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.1.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: setuptools in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (65.6.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (22.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.7)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.22.0

In [3]:
import pandas as pd
from mlxtend.frequent_patterns import  apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [4]:
data=pd.read_csv("C:/Users/LENOVO/Downloads/book (1).csv")
data

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0,1,0,0,1,1,1,0,1,1
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [5]:
data.shape

(2000, 11)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ChildBks   2000 non-null   int64
 1   YouthBks   2000 non-null   int64
 2   CookBks    2000 non-null   int64
 3   DoItYBks   2000 non-null   int64
 4   RefBks     2000 non-null   int64
 5   ArtBks     2000 non-null   int64
 6   GeogBks    2000 non-null   int64
 7   ItalCook   2000 non-null   int64
 8   ItalAtlas  2000 non-null   int64
 9   ItalArt    2000 non-null   int64
 10  Florence   2000 non-null   int64
dtypes: int64(11)
memory usage: 172.0 KB

In [7]:
data[data.duplicated()]

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
10,0,0,0,0,0,0,0,0,0,0,0
11,0,0,1,0,0,0,1,0,0,0,0
12,1,0,0,0,0,1,0,0,0,0,1
15,1,1,1,0,0,0,1,0,0,0,0
17,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1994,0,0,0,0,0,0,0,0,0,0,0
1996,0,0,0,0,0,0,0,0,0,0,0
1997,0,0,0,0,0,0,0,0,0,0,0
1998,0,0,1,0,0,0,0,0,0,0,0
1999,0,0,0,0,0,0,0,0,0,0,0

In [8]:
data_cleaned1 = data.drop_duplicates()

In [9]:
data_cleaned1.shape

(320, 11)

In [10]:
data_cleaned1.isnull().sum()

ChildBks     0
YouthBks     0
CookBks      0
DoItYBks     0
RefBks       0
ArtBks       0
GeogBks      0
ItalCook     0
ItalAtlas    0
ItalArt      0
Florence     0
dtype: int64

# Apriori Algorithm

In [11]:
frequent_itemsets=apriori(data_cleaned1, min_support=0.2, use_colnames=True)
frequent_itemsets

C:\Users\LENOVO\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                       itemsets
0   0.612500                     (ChildBks)
1   0.450000                     (YouthBks)
2   0.681250                      (CookBks)
3   0.490625                     (DoItYBks)
4   0.506250                       (RefBks)
5   0.556250                       (ArtBks)
6   0.521875                      (GeogBks)
7   0.334375                     (ItalCook)
8   0.318750                     (Florence)
9   0.300000           (ChildBks, YouthBks)
10  0.437500            (CookBks, ChildBks)
11  0.315625           (DoItYBks, ChildBks)
12  0.340625             (ChildBks, RefBks)
13  0.365625             (ChildBks, ArtBks)
14  0.343750            (ChildBks, GeogBks)
15  0.243750           (ChildBks, ItalCook)
16  0.200000           (Florence, ChildBks)
17  0.321875            (CookBks, YouthBks)
18  0.218750           (DoItYBks, YouthBks)
19  0.243750             (RefBks, YouthBks)
20  0.253125             (ArtBks, YouthBks)
21  0.234375            (GeogBks, YouthBks)
22  0.343750            (DoItYBks, CookBks)
23  0.353125              (CookBks, RefBks)
24  0.384375              (CookBks, ArtBks)
25  0.362500             (CookBks, GeogBks)
26  0.334375            (CookBks, ItalCook)
27  0.215625            (Florence, CookBks)
28  0.250000             (DoItYBks, RefBks)
29  0.290625             (DoItYBks, ArtBks)
30  0.246875            (DoItYBks, GeogBks)
31  0.265625               (RefBks, ArtBks)
32  0.265625              (RefBks, GeogBks)
33  0.300000              (GeogBks, ArtBks)
34  0.206250             (Florence, ArtBks)
35  0.221875  (CookBks, ChildBks, YouthBks)
36  0.228125  (DoItYBks, CookBks, ChildBks)
37  0.246875    (CookBks, ChildBks, RefBks)
38  0.259375    (CookBks, ChildBks, ArtBks)
39  0.240625   (CookBks, ChildBks, GeogBks)
40  0.243750  (CookBks, ChildBks, ItalCook)
41  0.209375    (ChildBks, GeogBks, ArtBks)
42  0.206250    (DoItYBks, CookBks, ArtBks)
43  0.212500     (CookBks, GeogBks, ArtBks)

In [12]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(ChildBks),(YouthBks),0.612500,0.450000,0.300000,0.489796,1.088435,0.024375,1.078000,0.209677
1,(YouthBks),(ChildBks),0.450000,0.612500,0.300000,0.666667,1.088435,0.024375,1.162500,0.147727
2,(CookBks),(ChildBks),0.681250,0.612500,0.437500,0.642202,1.048493,0.020234,1.083013,0.145098
3,(ChildBks),(CookBks),0.612500,0.681250,0.437500,0.714286,1.048493,0.020234,1.115625,0.119355
4,(DoItYBks),(ChildBks),0.490625,0.612500,0.315625,0.643312,1.050305,0.015117,1.086384,0.094029
...,...,...,...,...,...,...,...,...,...,...
91,"(CookBks, ArtBks)",(GeogBks),0.384375,0.521875,0.212500,0.552846,1.059345,0.011904,1.069261,0.090997
92,"(GeogBks, ArtBks)",(CookBks),0.300000,0.681250,0.212500,0.708333,1.039755,0.008125,1.092857,0.054622
93,(CookBks),"(GeogBks, ArtBks)",0.681250,0.300000,0.212500,0.311927,1.039755,0.008125,1.017333,0.119954
94,(GeogBks),"(CookBks, ArtBks)",0.521875,0.384375,0.212500,0.407186,1.059345,0.011904,1.038479,0.117166
95,(ArtBks),"(CookBks, GeogBks)",0.556250,0.362500,0.212500,0.382022,1.053855,0.010859,1.031591,0.115162